{% load static %}
{% if request.path == '/' %}
<!-- About Start (English) -->
<div class="container-fluid py-5" id="about">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
            <h1 class="position-absolute text-uppercase text-primary">{{ about_data.name }}</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid rounded w-100" src="{{ about_data.img.url }}" alt="{{ about_me.name }}">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">{{ about_data.title|safe }}</h3>
                <p style="text-align: justify;">{{ about_data.bio|safe }}</p>
                <div class="row mb-3">
                    <div class="col-sm-6 py-2"><h6>Name: <span class="text-secondary">{{ about_data.name }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Birthday: <span class="text-secondary">{{ about_data.birthday }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Degree: <span class="text-secondary">{{ about_data.degree }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Experience: <span class="text-secondary">{{ about_data.experience }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Phone: <span class="text-secondary">{{ about_data.phone }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">{{ about_data.email }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Address: <span class="text-secondary">{{ about_data.address }}</span></h6></div>
                    {% if about_data.freelance_available %}
                        <div class="col-sm-6 py-2"><h6>Freelance: <span class="text-secondary">Yes</span></h6></div>
                    {% else %}
                        <div class="col-sm-6 py-2"><h6>Freelance: <span class="text-secondary">No</span></h6></div>
                    {% endif %}
                </div>
                <a href="mailto:masunil012@gmail.com" class="btn btn-outline-primary mr-4">Hire Me</a>

                <!-- Replace "Learn More" with "View CV" -->
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#pdfModal">
                    View CV
                </button>
                <!-- Modal to display PDF -->
<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pdfModalLabel">View CV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          <div class="modal-body">
                {% if about_data.cv %}
<!--                    <embed src="{{ about_data.cv.url }}" type="application/pdf" width="100%" height="500px">-->
<!--                    <embed src="http://127.0.0.1:8000/media/cv/resume-1.pdf" type="application/pdf" width="100%" height="500px">-->
                    <a href="{{ about_data.cv.url }}" class="btn btn-outline-primary" download>Download CV</a>
                {% else %}
                    <p>No CV uploaded.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</div>
<!-- About End (English) -->
{% else %}
<!-- About Start (French) -->
<div class="container-fluid py-5" id="about">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">ÀPropos</h1>
            <h1 class="position-absolute text-uppercase text-primary">{{ about_data.name }}</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid rounded w-100" src="{{ about_data.img.url }}" alt="{{ about_me.name }}">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">{{ about_data.title|safe }}</h3>
                <p style="text-align: justify;">{{ about_data.bio|safe }}</p>
                <div class="row mb-3">
                    <div class="col-sm-6 py-2"><h6>Nom: <span class="text-secondary">{{ about_data.name }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Date de naissance: <span class="text-secondary">{{ about_data.birthday }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Diplôme: <span class="text-secondary">{{ about_data.degree }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Expérience: <span class="text-secondary">{{ about_data.experience }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Téléphone: <span class="text-secondary">{{ about_data.phone }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">{{ about_data.email }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Adresse: <span class="text-secondary">{{ about_data.address }}</span></h6></div>
                    {% if about_data.freelance_available %}
                        <div class="col-sm-6 py-2"><h6>Freelance: <span class="text-secondary">Oui</span></h6></div>
                    {% else %}
                        <div class="col-sm-6 py-2"><h6>Freelance: <span class="text-secondary">Non</span></h6></div>
                    {% endif %}
                </div>
                <a href="mailto:masunil012@gmail.com" class="btn btn-outline-primary mr-4">Engagez-moi</a>

                <!-- Replace "En savoir plus" with "View CV" -->

                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#pdfModal">
                    Voir le CV
                </button>

            </div>
        </div>
    </div>
</div>
<!-- About End (French) -->
{% endif %}
