<!-- Skill Start -->
<div class="container-fluid py-5" id="skill">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            {% if request.path == '/' %}
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Skills</h1>
                <h1 class="position-absolute text-uppercase text-primary">My Skills</h1>
            {% else %}
<!--                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Compétences</h1>-->
                <h1 class="position-absolute text-uppercase text-primary">Mes Compétences</h1>
            {% endif %}
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                {% for skill in skills|slice:":3" %}
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            {% if request.path == '/' %}
                                <h6 class="font-weight-bold">{{ skill.name }}</h6>
                            {% else %}
                                <h6 class="font-weight-bold">{{ skill.name }}</h6>
                            {% endif %}
                            <h6 class="font-weight-bold">{{ skill.percentage }}%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar {{ skill.progress_bar_color }}" role="progressbar" style="width: {{ skill.percentage }}%;" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                {% for skill in skills|slice:"6:" %}
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            {% if request.path == '/' %}
                                <h6 class="font-weight-bold">{{ skill.name }}</h6>
                            {% else %}
                                <h6 class="font-weight-bold">{{ skill.name }}</h6>
                            {% endif %}
                            <h6 class="font-weight-bold">{{ skill.percentage }}%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar {{ skill.progress_bar_color }}" role="progressbar" style="width: {{ skill.percentage }}%;" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Skill End -->
