{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

  <div class="dashboard-main-body">
        <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">

            <h6 class="fw-semibold mb-0">Project Analysis</h6>
            <ul class="d-flex align-items-center gap-2">
  </ul>
</div>

    <div class="row gy-4">
        {% for project in projects %}
        <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="card h-100 p-0 radius-12 overflow-hidden">
                    <div class="card-body p-0">
                        <a href="{% url 'project_detail' slug=project.slug %}" class="w-100 max-h-266-px radius-0 overflow-hidden">
                            <img src="{{ project.image.url }} " alt="image" class="w-100 h-100 object-fit-cover">
                        </a>
                        <div class="p-20">
                            <h6 class="mb-16">
                                <a href="{% url 'project_detail' slug=project.slug %}" class="text-line-2 text-hover-primary-600 text-xl transition-2">{{ project.title }}</a>
                            </h6>
                            <p class="text-line-3 text-neutral-500 mb-0">{{ project.description }}</p>
                            <span class="d-block border-bottom border-neutral-300 border-dashed my-20"></span>
<!--                            <div class="d-flex align-items-center justify-content-between flex-wrap gap-6">-->
<!--                                <div class="d-flex align-items-center gap-8">-->
<!--                                    <img src="assets/images/user-list/user-list1.png" alt="" class="w-40-px h-40-px rounded-circle object-fit-cover">-->
<!--                                    <div class="d-flex flex-column">-->
<!--                                        <h6 class="text-sm mb-0">John Doe</h6>-->
<!--                                        <span class="text-xs text-neutral-500">1 day ago</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <a href="blog-details.html" class="btn btn-sm btn-primary-600 d-flex align-items-center gap-1 text-xs px-8 py-6">-->
<!--                                    Read More-->
<!--                                </a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
  </div>
  {% endblock %}
